* {
     margin: 0;
     padding: 0;
     /* font-family: "Josefin Sans", sans-serif; */
     font-family: "Roboto", sans-serif;
 }

 body {
     background: rgb(13, 0, 19);
     color: white;
 }

 /*Nav bar responsive code*/
 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     /* background: rgb(8, 8, 94); */
     background-color: rgba(42, 6, 70, 0.685);
     height: 3rem;
 }

 nav ul {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 nav ul li {
     list-style: none;
     margin: 0 1.4rem;
 }

 nav ul li a {
     text-decoration: none;
     color: white;
 }

 nav ul li a:hover {
     color: rgb(179, 179, 245);
     font-weight: 600;
     font-size: 1.04rem;
 }

 .right {
     font-size: 26px;
 }

 hr {
     border: 0;
     background-color: blueviolet;
     height: 1px;
     margin: 2.4rem 5rem;
 }

 @media screen and (max-width: 500px) {
     nav ul li {
         margin: 0 5px;
         font-size: small;
     }

     .right {
         font-size: 16px;
     }

     hr {
         border: 0;
         height: 3px;
         margin: 2.4rem 2rem;
     }
 }

 /* main section of given website */

 .firstsection {
     margin-top: 5rem;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .firstsection>div {
     width: 36%;
 }

 .leftsection {
     font-size: 3rem;
 }

 .leftsection .button {
     padding: 12px;
 }

 .button button {
     padding: 10px;
     color: white;
     margin-right: 16px;
     border-radius: 12px;
     background-color: #081046;
 }

 .rightsection img {
     width: 80%;
     margin-top: 3rem;
 }

 @media screen and (max-width: 500px) {
     .leftsection {
         font-size: 1.3rem;
     }

     .leftsection .button {
         padding: 0px;
     }

     .button {
         display: flex;
         align-items: center;
     }

     .button button {
         padding: 5px;
         color: white;
         font-size: 9px;
         margin-right: 12px;
         border-radius: 5px;
         background-color: #081046;
     }

     .rightsection {
         width: 100%;
     }

     .firstsection>div {
         width: 50%;
     }

     .rightsection {
         margin-left: 2rem;
     }
 }

 /*second section */
 .secondsection {
     max-width: 80vw;
     height: 106vh;
     margin: auto;
 }

 .purpel,
 #element {
     color: blueviolet;
 }

 .text-gray {
     color: gray;
 }

 .secondsection .horizontal {
     background: #ceb7b7;
     width: 80vw;
     height: 2px;
     margin: 100px 0px;
 }

 .horizontal {
     display: flex;
 }

 .vertical {
     background: #ceb7b7;
     height: 56px;
     width: 1px;
     margin: 0 140px;
 }

 .img-top {
     width: 54px;
     position: relative;
     top: -54px;
     left: -24px;
 }

 .vertical-tittle {
     position: relative;
     top: -2px;
     left: -26px;
     width: 150px;
 }

 .vertical-dec {
     font-weight: bolder;
     position: relative;
     top: 14px;
     width: 150px;
     font-size: 14px;
     color: #7a7a7a;
     left: -26px;
 }

 @media screen and (min-width: 501px) {
     .horizontal-mob {
         display: none;
     }
 }

 @media screen and (max-width: 500px) {
     .horizontal-mob {
         margin-bottom: 50px;
     }

     .horizontal-mob .horizontal1,
     .horizontal2 {
         display: flex;
         justify-content: space-evenly;
         background: #ceb7b7;
         width: 82vw;
         height: 2px;
         margin: 50px 10px 50px 0px;
     }

     h1 {
         margin-bottom: 90px;
     }

     /* .horizontal1{
          margin-top: 3rem;
        } */
     .horizontal2 {
         margin-top: 16rem;
     }

     .horizontal {
         display: none;
     }

     .vertical {
         background: #ceb7b7;
         height: 36px;
         width: 1px;
         margin: 0 40px;
     }

     .vertical-tittle {
         position: relative;
         width: 50px;
     }

     .vm1 h4,
     p {
         margin-right: 19vw;
         font-size: 10px;
     }

     footer {
         height: 25vh;
         font-size: 1rem;
     }
 }

 footer {
     font-size: 16px;
     color: white;
     height: 23vh;
     background-color: rgb(33 20 60);
 }

 footer {
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 .text a {
     margin-left: 5px;
     text-decoration: none;
     color: #b99b9b;
 }

 .text {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #insta {
     width: 18px;
 }

 footer ul {
     list-style: none;
     color: #a08b8b;
 }

 footer ul li {
     margin: 0px 24px;
 }

 footer ul li a {
     text-decoration: none;
     color: #6e6060;

 }

 /* .sectionBox2{
        background-image: url('./images/download.png');
        background-color: rgb(71, 25, 25);
        color: #7a7a7a;
      } */